.all {
  min-height: 100vh;
  background: linear-gradient(to left, #fff, #cb9f56);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}
.all h1 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #000;
}
.bagform {
  background: rgb(255, 255, 255);
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.bagform label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  margin-bottom: 0.3rem;
  color: #000000;
}
.bagform input,
.bagform select {
  width: 100%;
  padding: 10px 12px;
  border-radius: 10px;
  border: 2px solid #ddd;
  outline: none;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.bagform input:focus,
.bagform select:focus {
  box-shadow: 0 0 5px #007bff;
  background: #fff;
}
.bagform button {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}
.bagform button:hover {
  background-color: #ff0000;
  transform: translateY(-2px);
}
@media (max-width: 600px) {
  .bagform {
    padding: 25px 20px;
    max-width: 90%;
  }

  .all h1 {
    font-size: 1.6rem;
  }
}